body {font-family: Arial;}

h1 {
    font-size: 60px;
}
h3 {
  margin-top: 20px;
  margin-bottom: -20px;
}
.header {
  padding: 15px;
  text-align: center;
  /* background-image: url("../static/header2.jpg"); */
  background-image: url("/static/images/twist_bg.png"); 
  /* background-image: url("/static/images/stock_bg.jpg"); */
  
  background-repeat: repeat;
  background-position: center;
  background-size: contain;

  background-color: #1abc9c; 
  color: black; 

  font-size: 30px;
  height: 150px; 
}

.sub_header {
  color: black;
  font-size: 20px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 40px;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc; */
  width: 1200px;
  /* height: 850px; */
}

.defaultTab {
  display: block;
}
 
.intro_header { 
  margin-left: 100px;
  margin-right: 100px;
  /* text-align: left; */
}

.input_area {
  padding: 15px;
  text-align: right;
}

.render_button {
  padding-top: 15px;
  text-align: left;
}

.table_column {
  padding: 2px;
  border: 1px solid #ccc;
}

.indicator_table {
  padding: 2px;
  border: 1px solid #ccc; 
}

.table_header_cell {
  padding: 2px 10px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #ccc; 
  background-color: #e8e8e8;
}
 
.table_cell_0 {
  padding: 2px 2px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #ccc; 
  /* background-color: #e8e8e8; */
}

.table_cell_1 {
  padding: 2px 2px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #ccc; 
  background-color: #cae9f5;
}

table thead,table tbody {
    display: table-header-group;
}

table tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 90px;
    max-height: 300px;
}

td, th {
  max-width: auto;
  text-align: left
}

input { 
  text-align: center; 
}

.custom_parameter_area {
  text-align: right;
}

.refresh_button_area {
  text-align: left;
}



/* For the page of details */
.padding {
  padding-top: 5px;
}

.border_line {
  border: 1px solid #ccc; 
  padding-top: 10px;
  padding-bottom: 10px;
}


.custom_parameters_area {
  padding: 6px 15px;
  text-align: right;
}

.refresh_button_area {
  padding: 6px 15px;
  text-align: left;
}

.section_header {
  font-size: 20px;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.parameter_input {
  margin-top: 2px;
  width: 120px;
  height: 25px;
}

