<!DOCTYPE html>
<html lang="en">

<head>
    <title> Deepdive of the trading indicator</title>
    <meta charset="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap cdn -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- D3 V4 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/details.js"></script> 
</head>

<body>
  <center>

    <!-- Ticker and strategy -->
    <div class='col-xs-12 col-md-12 padding '>
       <div class='col-xs-12 col-md-3'> </div>
       <div class='col-xs-12 col-md-6 border_line'>
        <p class='section_header'> <b>Deepdive of Trading Strategy </b></p>
        Ticker: <input type='text' id='details_ticker' value='{{ stock_ticker }}' style='background-color:#e8e8e8;' size='18%' readonly>
        &nbsp;&nbsp;&nbsp;&nbsp;
        Strategy: <input type='text' id='details_strategy' value='{{ strategy }}' style='background-color:#e8e8e8;' size='18%' readonly>
       </div>
       <div class='col-xs-12 col-md-3'> </div>
    </div>

    <!-- Custom parameters -->
    <div class='col-xs-12 col-md-12 padding '>
       <div class='col-xs-12 col-md-3'> </div>    
       <div class='col-xs-12 col-md-6 border_line'>
          <div class='col-md-6 custom_parameter_area ' id="custom_parameters"> </div>    
          <div class='col-md-6 refresh_button_area vertical-center'>
            <button class="search_button" onclick="refresh()"> Refresh with new parameters! </button>  
          </div>
       </div>
       <div class='col-xs-12 col-md-3'> </div>    
    </div>

    <!-- Metrics vs Buy-and-Hold -->
    <div class='col-xs-12 col-md-12 padding'>
       <div class='col-xs-12 col-md-3'> </div>    
       <div class='col-xs-12 col-md-6 border_line'>
          <div id="vs_buy_and_hold"> TODO: charts table side by side with Buy-and-Hold </div>
       </div>
       <div class='col-xs-12 col-md-3'> </div>    
    </div>


    <!-- Detailed chart -->
    <div class='col-xs-12 col-md-12 padding'>
       <div class='col-xs-12 col-md-3'> </div>    
       <div class='col-xs-12 col-md-6 border_line'>
          <iframe frameborder="0" width="100%" height="800" 
                  src="/backtest_details?stock_ticker={{stock_ticker}}&strategy={{strategy}}"> </iframe>
       </div>
       <div class='col-xs-12 col-md-3'> </div>    
    </div>

   </center>

  <!-- Render custom parameters based on strategy -->
  <script type = "text/javascript">  
    render_custom_parameters();
  </script>  

</body>

</html>
