<!DOCTYPE html>
<html lang="en">

<head>
    <title> Assesment of Trading Indicators </title>
    <meta charset="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap cdn -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- D3 V4 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- JS to do the tab switch -->
    <script src="/static/js/tab.js"></script>
    <script src="/static/js/backtest.js"></script>
    
</head>

<body>
    <center>
        <div class="header">
            <h1> Assesment of Trading Indicators </h1>
            <i>
                <p class='sub_header'> A handy tool to help you make informed trading decisions!</p>
            </i>
        </div>

        <div class="tab">
            <button class="tablinks " onclick="openTab(event, 'howitworks')">How It Works</button>
            <button class="tablinks active" onclick="openTab(event, 'tryitout')">Try It Out!</button>
            <button class="tablinks" onclick="openTab(event, 'indicators')">Trading Indicators</button>
            <button class="tablinks " onclick="openTab(event, 'aboutview')">About</button>
        </div> 

        <div id="howitworks" class="tabcontent">  
            <div class="intro_header">
                <!-- NOTE: adjust the width / height accordingly -->
                <iframe frameborder="0" width="1200" height="3000" src="/how_it_works"> 
                </iframe>

                    <small>
                        This tab explains how things works! <br>
                        This tab explains how things works! <br>
                        This tab explains how things works!<br>
                        This tab explains how things works!<br>
                        This tab explains how things works!<br>
                        This tab explains how things works!<br> 
                    </small>
                </h4> 
            </div>  
        </div>

        <div id="tryitout" class="tabcontent defaultTab">  
            <div class='search_bar'>
                Please input one stock ticker:
                <input type="text" id="ticker"> 
                <button class="search_button" onclick="backtest()"> Search </button>  
            </div>
            <div id="indicator_table">
            </div>

            <div class="intro_header">
                <h4>
                    <small>
                        Try it out! <br> 
                        Input Box ! <br> 
                        Table of Indicators! <br> 
                        Link to detailed page! <br>
                    </small>
                </h4> 
            </div>  
        </div>

        <div id="indicators" class="tabcontent">   
            <div class="intro_header">
                <!-- NOTE: adjust the width / height accordingly -->
                <iframe frameborder="0" width="1200" height="3000" src="/indicators"> 
                </iframe>

                <h4>
                    <small>
                        Details about each indicators! <br> 
                        Details about each indicators! <br> 
                        Details about each indicators! <br> 
                        Details about each indicators! <br> 
                        Details about each indicators! <br> 
                        Details about each indicators! <br> 
                        Details about each indicators! <br> 
                    </small>
                </h4> 
            </div>  
        </div>

        <div id="aboutview" class="tabcontent">  
            <div class="intro_header">
                <!-- NOTE: adjust the width / height accordingly -->
                <iframe frameborder="0" width="1200" height="3000" src="/about"> 
                </iframe>

                <h4>
                    <small>
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                        About Page! / Disclaimer / The Team / Term of Usage, etc <br> 
                    </small>
                </h4> 
            </div>  
        </div> 

        <!-- Rendering JS -->
        <script src="/static/js/test.js"></script> 
        
    </center>
</body>

</html>
