<html>
<head>
    <title> Reliability Test</title>
    <meta charset="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap cdn -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>
    <div class='col-xs-12 col-md-12'>
        <p> <b>Probability of overfitting:</b> {{ overfit_prob }}  </p>
    </div>

    <div class='col-xs-12 col-md-12'>
        <p> <b>Last updated date:</b> {{ update_date }}  </p>
    </div>



    <div class='col-xs-12 col-md-12'> 
        <hr>
        <p><b>Training Set:</b></p>
        {{ train_chart }}
    </div>

    <div class='col-xs-12 col-md-12'>
        <hr>
        <p><b>Testing Set:</b></p>
         {{ test_chart }} 
    </div>

    <div class='col-xs-12 col-md-12'>
        <hr>
        <p><b>Correlation:</b></p>
        {{ corr_chart }} 
    </div>

</body>
</html>
